include ./component/product.pug
article
    +product('','câu chuyện cà phê','Bililux đem lại hương vị cà phê thuần chất ,100% từ hạt cà phê chọn lọc từ nguồn nguyên liệu tốt nhất','tìm hiểu ngay','../app/home/images/product1.png','../app/home/images/product2.png')
    