
include ./component/product.pug
aside
    +product('Bililux','sản phẩm đa dạng','Với nhiều năm kinh nghiệm trong sản xuất các sản phẩm cà phê và ngũ cốc uống liền. Bililux luôn mong muốn mang đến cho khách hàng những sản phẩm chất lượng nhất.','xem sản phẩm','../app/home/images/product1.png','../app/home/images/product2.png')