header
    img(alt='banner',src='./app/home/images/bg-banner.png')
    h1: i Instant Ground Coffee Mix
    h2 bililux 
    .line
        .line__left
        .line__dot *
        .line__right
    h4 cà phê xay uống liền
    p khám phá ngay
    include ./component/border-bg.pug
        
    

