.copyright
    p Copyright © 2011 by Bililux. All Rights Reserved.
    p công ty cổ phần thực phẩm Bililux
    p Địa chỉ: N7, KP 4, P. Tân Phong, Tp. Biên Hòa, Đồng Nai
    p Điện Thoại: (061) 389 2788 