doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel='stylesheet',href='./app/home/css/all.css')
        meta(name='viewport',content='width=device-width,initial-scale=1')
        meta(name='keywords',content='cafe,hương vị,nguyên chất,nổi tiếng')
        meta(name='description',content='đây là trang web bán cafe ngon nhất phòng trọ chúng tôi,ahihi')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")

    body
        include nav.pug
        include banner.pug
        include article.pug
        include section.pug
        include aside.pug
        include customer.pug
        include people.pug
        include follow.pug
        include copyright.pug