include ./component/private.pug
.people__container
    .people__container--customer
        +people('./app/home/images/customer1.jpg','Nguyễn Bảo Như Quỳnh <br> Quận 3,Hồ Chí Minh','Tôi đã sử dụng hầu hết các sản phẩm cà phê rang xay của Bililux.Tất cả đều mang lại hương vị thơm ngon thuần chất và những trải nghiệm tuyệt vời.')
        +people('./app/home/images/customer2.jpg','Nguyễn Ngọc Hoài Tiên <br> Bình Dương','Chồng tôi rất thích những tách cà phê của Bililux tôi pha mỗi sáng.Nhờ có các sản phẩm của Bililux mà tôi trở thành người vợ đảm đang trong mắt chồng')
        +people('./app/home/images/customer3.jpg','Trần Hoài Nam <br> Đồng Nai','Nhanh chóng mà vẫn rất thơm ngon,tiện lợi mà nguyên chất,pha chế đơn giản mà vẫn ra được vị truyển thống.Đó là những điều tôi tìm thấy được ở sản phẩm cà phê xay uống liền 4 trong 1 Bililux')
    p.people__container--more: a(href='#',title='xem thêm') xem thêm ý kiến khách hàng