header{
    
    width: 100%;
    height: 562px;
    position: relative;
    top: 0;
    padding:10% 0;
    overflow: hidden;
    img{
        width: 100%;
        height: 160%;
        position: absolute;
        top: -27%;
        z-index: 1;
    }
    //open mixin text-banner
    @mixin text-banner{
        position: relative;
        z-index: 5;
        text-align: center;
    }
    // close mixin text-banner
    h1{
        @include text-banner;
        font-family: 'Kaushan Script', cursive;
        color:$color-nghe;
        font-size: 5em;
        font-weight: normal;
        margin-top:2%;
    }
    h2{
        @include text-banner;
        text-transform:uppercase;
        font-weight: 700;
        color: white;
        margin: 4% 0;
        letter-spacing: 0.2em;
        font-size: 3em;
    }
    .line{
        @include text-banner;
        display: flex;
        margin:0 44%;
        position: relative;
        justify-content: space-between;
        // open mixin line
        @mixin line{
            height: 2.5px;
            width: 90px;
            margin:5%;
            background-color: white;
        }
        // open mixin muiTen
        @mixin muiTen{
            width: 0;
            height: 0;
            top:11%;
            border-top:6px solid transparent;
            border-bottom:6px solid transparent;
            position: absolute;
            content: '';
        }

        &__left{
            @include line;
            &::before{
                @include muiTen;
                left: 0;
                border-left: 9px solid white;
            }
        }
        &__dot{
            color:$color-nghe;
            font-size:2em;
        }
        &__right{
            @include line;
            &::after{
                @include muiTen;
                right: 0;
                border-right: 9px solid white;
            }
        }
    }
    h4{
        @include text-banner;
        letter-spacing: 0.5em;
        color:white;
        text-transform: uppercase;
        font-weight: 50;
        font-size: 0.8em;
    }
    p{
        @include text-banner;
        color: black;
        text-transform: uppercase;
        background-color: white;
        border-radius: 3px;
        width: 12%;
        padding: 0.5% 0;
        margin: 3% auto;
        letter-spacing: 0.2em;
        font-size: 0.8em;
        cursor: pointer;
        &:hover{
            background-color: $color-nghe;
        }
    }
    
}