.copyright{
    width: 100%;
    padding:80px 0;
    background-color: #262526;
    @mixin text{
        text-align: center;
        color: #626262;
        font-size: 0.9em;
        line-height: 22px;
    }
    p{
        @include text;
        &:nth-child(2){
            text-transform: uppercase;
        }
    }
}