* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Roboto', "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif; }

body {
  line-height: 1;
  color: black; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: white; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  clear: both;
  display: block; }

/*Add your css into here*/
figure {
  margin: 0;
  padding: 0; }

.border-bg {
  width: 100%;
  height: 20px;
  z-index: 5;
  position: absolute;
  bottom: -14px;
  background: url("../images/border-banner.svg") top left repeat-x; }

nav {
  width: 100%;
  height: 86px;
  display: flex;
  background-color: transparent;
  position: fixed;
  z-index: 10; }
  nav .nav__logo {
    width: 30%;
    height: 100%; }
    nav .nav__logo img {
      width: 56%;
      height: 100%;
      margin: 0 20%; }
  nav .nav__content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    nav .nav__content--top {
      height: 50%; }
      nav .nav__content--top a {
        float: right;
        margin: 1% 2%; }
    nav .nav__content--bottom {
      height: 50%; }
      nav .nav__content--bottom ul {
        display: flex; }
        nav .nav__content--bottom ul li {
          text-transform: uppercase;
          padding: 1% 2%;
          text-align: center;
          font-size: 0.95em; }
          nav .nav__content--bottom ul li:nth-child(1) a, nav .nav__content--bottom ul li:nth-child(5) a {
            border-bottom: 2px solid white; }
          nav .nav__content--bottom ul li:nth-child(3), nav .nav__content--bottom ul li:nth-child(4), nav .nav__content--bottom ul li:nth-child(5) {
            position: relative; }
            nav .nav__content--bottom ul li:nth-child(3):after, nav .nav__content--bottom ul li:nth-child(4):after, nav .nav__content--bottom ul li:nth-child(5):after {
              position: absolute;
              width: 5px;
              height: 5px;
              content: '';
              transform: rotate(45deg);
              background-color: transparent;
              top: 48%;
              right: 4%;
              border-right: 1px solid white;
              border-bottom: 1px solid white; }

header {
  width: 100%;
  height: 562px;
  position: relative;
  top: 0;
  padding: 10% 0;
  overflow: hidden; }
  header img {
    width: 100%;
    height: 160%;
    position: absolute;
    top: -27%;
    z-index: 1; }
  header h1 {
    position: relative;
    z-index: 5;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: #c59d5f;
    font-size: 5em;
    font-weight: normal;
    margin-top: 2%; }
  header h2 {
    position: relative;
    z-index: 5;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin: 4% 0;
    letter-spacing: 0.2em;
    font-size: 3em; }
  header .line {
    position: relative;
    z-index: 5;
    text-align: center;
    display: flex;
    margin: 0 44%;
    position: relative;
    justify-content: space-between; }
    header .line__left {
      height: 2.5px;
      width: 90px;
      margin: 5%;
      background-color: white; }
      header .line__left::before {
        width: 0;
        height: 0;
        top: 11%;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        position: absolute;
        content: '';
        left: 0;
        border-left: 9px solid white; }
    header .line__dot {
      color: #c59d5f;
      font-size: 2em; }
    header .line__right {
      height: 2.5px;
      width: 90px;
      margin: 5%;
      background-color: white; }
      header .line__right::after {
        width: 0;
        height: 0;
        top: 11%;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        position: absolute;
        content: '';
        right: 0;
        border-right: 9px solid white; }
  header h4 {
    position: relative;
    z-index: 5;
    text-align: center;
    letter-spacing: 0.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 50;
    font-size: 0.8em; }
  header p {
    position: relative;
    z-index: 5;
    text-align: center;
    color: black;
    text-transform: uppercase;
    background-color: white;
    border-radius: 3px;
    width: 12%;
    padding: 0.5% 0;
    margin: 3% auto;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    cursor: pointer; }
    header p:hover {
      background-color: #c59d5f; }

article {
  width: 100%;
  display: flex;
  padding: 5% 2%;
  box-sizing: border-box; }
  article .article__text {
    width: 50%;
    padding: 1% 2%; }
    article .article__text h2 {
      text-transform: uppercase;
      font-size: 3em;
      text-align: center;
      color: black;
      letter-spacing: 0.2em;
      padding: 10% 0 5% 0; }
    article .article__text span {
      margin: 0 50%;
      font-size: 3em;
      color: black; }
    article .article__text p {
      text-align: center;
      padding: 4% 0;
      line-height: 27px; }
    article .article__text a {
      color: #c59d5f;
      text-transform: uppercase;
      border-bottom: 2px solid #c59d5f;
      margin: 0 38%; }
  article .article__image {
    width: 50%;
    display: flex;
    justify-content: space-around; }
    article .article__image figure {
      width: 40%;
      height: 100%; }
      article .article__image figure img {
        width: 100%;
        height: 75%; }

section {
  width: 100%;
  position: relative;
  padding: 14% 0;
  height: 414px;
  background: url("../images/bg.jpg") center no-repeat; }
  section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.2em;
    color: white; }
  section .border-bg:first-child {
    top: -2%; }
  section .border-bg {
    width: 100%;
    height: 20px;
    z-index: 5;
    position: absolute;
    bottom: -14px;
    background: url("../images/border-banner.svg") top left repeat-x; }

aside {
  flex-direction: row-reverse;
  width: 100%;
  display: flex;
  padding: 5% 2%;
  box-sizing: border-box; }
  aside h1 {
    font-size: 5em;
    color: #c59d5f;
    text-align: center;
    font-family: "Kaushan Script", cursive; }
  aside .article__text {
    width: 50%;
    padding: 1% 2%; }
    aside .article__text h2 {
      text-transform: uppercase;
      font-size: 3em;
      text-align: center;
      color: black;
      letter-spacing: 0.2em;
      padding: 10% 0 5% 0; }
    aside .article__text span {
      margin: 0 50%;
      font-size: 3em;
      color: black; }
    aside .article__text p {
      text-align: center;
      padding: 4% 0;
      line-height: 27px; }
    aside .article__text a {
      color: #c59d5f;
      text-transform: uppercase;
      border-bottom: 2px solid #c59d5f;
      margin: 0 38%; }
  aside .article__image {
    width: 50%;
    display: flex;
    justify-content: space-around; }
    aside .article__image figure {
      width: 40%;
      height: 100%; }
      aside .article__image figure img {
        width: 100%;
        height: 75%; }

.customer {
  width: 100%;
  position: relative;
  padding: 14% 0;
  height: 307px;
  background: url("../images/product1.png") center no-repeat;
  background-size: cover; }
  .customer h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.2em;
    color: white; }
  .customer .border-bg:first-child {
    top: -2%; }
  .customer .border-bg {
    width: 100%;
    height: 20px;
    z-index: 5;
    position: absolute;
    bottom: -14px;
    background: url("../images/border-banner.svg") top left repeat-x; }

.people__container {
  padding: 100px 5%; }
  .people__container--customer {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .people__container--customer .people {
      width: 30%; }
      .people__container--customer .people figure {
        width: 100%;
        padding: 29px 0; }
        .people__container--customer .people figure img {
          margin: 0 23%;
          width: 50%; }
      .people__container--customer .people h3 {
        color: #c59d5f;
        text-align: center;
        border-left: 8px solid #c59d5f;
        padding: 20px 8%;
        font-size: 1.4em;
        font-weight: 50; }
      .people__container--customer .people p {
        padding-top: 20px;
        text-align: center;
        line-height: 1.3em; }
  .people__container--more {
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: black;
    width: 43%;
    border-radius: 5px;
    line-height: 40px;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    margin: 4% auto;
    transition: 0.5s; }
    .people__container--more:hover {
      background-color: #c59d5f; }

footer {
  width: 100%;
  position: relative;
  padding: 100px 0;
  background-color: black; }
  footer .border-bg {
    top: -6px; }
  footer h4 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    padding: 2% 0; }
  footer p {
    text-align: center; }
    footer p a {
      text-decoration: none;
      color: white;
      margin: 0 2%;
      font-size: 1.3em; }
      footer p a:hover {
        color: #c59d5f; }

.copyright {
  width: 100%;
  padding: 80px 0;
  background-color: #262526; }
  .copyright p {
    text-align: center;
    color: #626262;
    font-size: 0.9em;
    line-height: 22px; }
    .copyright p:nth-child(2) {
      text-transform: uppercase; }
